# *.cpp

# How to ignore the outputs from cython so they aren't checked in?

*.so
build/
Builds/MacOSX/echomesh.xcodeproj/xcuserdata/
Builds/MacOSX/echomesh.xcodeproj/project.xcworkspace/xcuserdata/
Builds/MacOSX/echomesh-client.xcodeproj/xcuserdata/